body {
    border: 10px solid #bdc7cf;
    font-family: 'Source Sans Pro', sans-serif;
}

.date {
    color: #3098dd;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px;
}

h2 {
    color: #354b63;
    margin: 20px;
}

p {
    color: black; 
    margin: 20px;
}

hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.border{
    padding: 5px;
    border-left: 4px solid #bdc7cf;
    margin: 20px;
}